<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/ico/project.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的项目</title>
    <!-- css -->
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/body.css">
</head>
<body>
    <!-- 导航栏 -->
    <div class="web-header" id="web-header">
        <div class="header">
            <div class="title"><a href="/kuisw.github.io/index.html"><b>乂的个人网站</b></a></div>
            <div class="nav">
                <input type="checkbox">
                <span></span>
                <span></span>
                <span></span>
                <ul class="navlist">
                    <li><a href="./postList.html">专题文章</a></li>
                    <li><a href="./pojectList.html">我的项目</a></li>
                    <li><a href="./pantingList.html">绘画作品</a></li>
                    <li><a href="./musiclist.html">音乐作品</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    项目
</body>
</html>