.tags-container {
    /* 防止换行 */
    white-space: nowrap;
}

.tags-container li {
    /* 水平显示 */
    display: inline-block;
    /* 标签之间的间距 */
    margin-right: 10px;
}

/* 帖子列表 */
/* .postList {
     border: 1px solid black;
} */

/* 单个帖子 */
.post {
    border: 1px solid #f0f0f2;
    padding: 20px 10px;
    height: 110px;
}

/* 封面 */
.post-cover {
    /* border: 1px solid black; */
    height: 100px;
    width: 170px;
    float: left;
    margin: 10px 10px 0 0;
    background-size: cover;
    background-position: center center;
}

/* 标题 */
.post h3 {
    font-size: 18px;
}

/* 介绍 */
.post-intro {
    margin: 4px 0;
    color: #555666;
    overflow: hidden;
    height: 41.6px;
}

/* 标签 */
.tags-container {
    /* margin-top: auto; */
    /* margin: auto 0 10px 0 ; */
    position: relative;
    bottom: 0;
    color: #555666;
}

/* 
电脑端
 */
@media only screen and (min-width: 600px) {
    .postList {
        width: 70%;
        margin: 0 0 0 10px;
    }

    .articlePost {
        width: 70%;
    }

    /* 封面 */
    .post-cover {
        margin: 5px 10px 0 0;
    }
}

/* 
手机端
 */
@media only screen and (max-width: 600px) {

    /* 单个帖子 */
    .post {
        height: 80px;
    }

    /* 封面 */
    .post-cover {
        /* border: 1px solid black; */
        height: 55px;
        width: 75px;
        margin: 20px 0;
    }

    .post-intro {
        
        height: 20.8px;
    }
}